.ui-menu {
    position: absolute;
    top: 128px;
    left: 20px;
    z-index: 3;
    width: 260px;
    padding: 0 20px;
    margin-bottom: 2em;

    list-style: none;
    display: block;
    outline: none;
    border: 1px solid #c9c9c9;
    border-radius: 0;
    box-shadow: 0 0 3px #b6b6b6;
    background-color: #fff;
    overflow: hidden;
}
.ui-menu-item {
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;

    a {
        &:hover {
            background-color: #f6f6f6;
        }
        background-color: #fff;
        color: #000;
        text-decoration: none;
        display: block;
        padding: 8px 20px;
        line-height: 1.5;
        min-height: 0;
        font-weight: normal;

        .code {
            color: #b6b6b6;
            float: right;
        }
    }
}
