#main {
  margin-top: 50px;
}


/*--------------------- start container_wrapper ---------------------*/
.container_wrapper {
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;

  #comment_header{

  }
  #editor {
    max-height: 550px;
    height: 550px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid #cccccc;
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;}

  #comment_footer {
    margin-top: 10px;
  }  
}
