{% extends 'base.html' %}

{% block title %}{{ data.code }} - 历史数据{% endblock %}

{% block cssfile %}
    <link rel="stylesheet" href="/static/vender/css/datepicker.css" type="text/css"/>
    <link rel="stylesheet" href="/static/vender/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/build/css/data/history_detail.css" type="text/css"/>
{% endblock %}

{% block content %}
    <div id="stock_wrapper">
        <div id="stock_toolbar" class="inline-block controls-group">
            <form action="/stock/history_data_detail" method="get">
                <input type="text" name="code" value="{{ data.code }}" style="display: none" />
                <label>开始日期：</label>
                <input class="controls input-sm form-control form-datetime" id="start_time" name="start" readonly/>&nbsp;&nbsp;&nbsp;
                <label>结束日期：</label>
                <input class="controls input-sm form-control form-datetime" id="end_time" name="end" readonly/>&nbsp;&nbsp;&nbsp;
                <button id="search_btn" class="btn-sm btn submit"><i class="icon-search icon-sm" style="margin-right:5px;"></i>查找
                </button>
            </form>
        </div>
        <div id="stock_list">
            {% if data.stock|length >= 1 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>日期</th>
                        <th>开盘价</th>
                        <th>收盘价</th>
                        <th>最高价</th>
                        <th>最低价</th>
                        <th>后复权价</th>
                        <th>成交量</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stoc in data.stock %}
                        <tr>
                            <td>{{ stoc.date }}</td>
                            <td>{{ stoc.open }}</td>
                            <td>{{ stoc.close }}</td>
                            <td>{{ stoc.high }}</td>
                            <td>{{ stoc.low }}</td>
                            <td>{{ stoc.adj_price }}</td>
                            <td>{{ stoc.volume }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <span id="info" class="inline-block">暂无数据</span>
            {% endif %}
            {% if data.stock|length > 0 %}
                <div id="pagination_wrapper" class="text-center">
                <nav>
                    <ul class="pagination">
                        <!-- the first two pagination -->
                        <li>
                            <a href="/stock/history_data_detail?code={{ data.code }}&start={{ data.start }}&end={{ data.end }}" aria-label="首页">
                                <span aria-hidden="true">&ll;</span>
                            </a>
                        </li>
                        {% if data.page == 1 %}
                            <li>
                                <a href="/stock/history_data_detail?page=1&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}" aria-label="上一页">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/stock/history_data_detail?page={{ data.page|add:"-1" }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}" aria-label="上一页">
                                    <span aria-hidden="true">&lt;</span>
                                </a>
                            </li>
                        {% endif %}
                        <!-- the first two pagination end -->

                        {% if data.page == 1 %}
                            {% if data.total_pages == 1 %}
                                <li class="cur">
                                    <a href="/stock/history_data_detail?page={{ data.page }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.page }}
                                    </a>
                                </li>
                            {% elif data.page|add:"1" == data.total_pages %}
                                <li class="cur">
                                    <a href="/stock/history_data_detail?page={{ data.page }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.page }}
                                    </a>
                                </li>
                                <li>
                                    <a href="/stock/history_data_detail?page={{ data.total_pages }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.total_pages }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="cur">
                                    <a href="/stock/history_data_detail?page={{ data.page }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.page }}
                                    </a>
                                </li>
                                <li><span>...</span></li>
                                <li>
                                    <a href="/stock/history_data_detail?page={{ data.total_pages }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.total_pages }}
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            {% if data.page == 2 %}
                                {% if data.total_pages == 2 %}
                                    <li>
                                        <a href="/stock/history_data_detail?page=1&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                            1
                                        </a>
                                    </li>
                                    <li class="cur">
                                        <a href="/stock/history_data_detail?page={{ data.page }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                            {{ data.page }}
                                        </a>
                                    </li>
                                {% elif data.total_pages == 3 %}
                                    <li>
                                        <a href="/stock/history_data_detail?page=1&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                            1
                                        </a>
                                    </li>
                                    <li class="cur">
                                        <a href="/stock/history_data_detail?page={{ data.page }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                            {{ data.page }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/stock/history_data_detail?page={{ data.total_pages }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                            {{ data.total_pages }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="/stock/history_data_detail?page=1&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                            1
                                        </a>
                                    </li>
                                    <li class="cur">
                                        <a href="/stock/history_data_detail?page={{ data.page }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                            {{ data.page }}
                                        </a>
                                    </li>
                                    <li><span>...</span></li>
                                    <li>
                                        <a href="/stock/history_data_detail?page={{ data.total_pages }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                            {{ data.total_pages }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% elif data.page|add:"1" == data.total_pages %}
                                <li>
                                    <a href="/stock/history_data_detail?page=1&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        1
                                    </a>
                                </li>
                                <li><span>...</span></li>
                                <li class="cur">
                                    <a href="/stock/history_data_detail?page={{ data.page }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.page }}
                                    </a>
                                </li>
                                <li>
                                    <a href="/stock/history_data_detail?page={{ data.total_pages }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.total_pages }}
                                    </a>
                                </li>
                            {% elif data.page == data.total_pages %}
                                <li>
                                    <a href="/stock/history_data_detail?page=1&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        1
                                    </a>
                                </li>
                                <li><span>...</span></li>
                                <li class="cur">
                                    <a href="/stock/history_data_detail?page={{ data.page }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.page }}
                                    </a>
                                </li>
                            {% else %}
                                <li><a href="/stock/history_data_detail?page=1&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">1</a></li>
                                <li><span>...</span></li>
                                <li class="cur">
                                    <a href="/stock/history_data_detail?page={{ data.page }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.page }}
                                    </a>
                                </li>
                                <li><span>...</span></li>
                                <li>
                                    <a href="/stock/history_data_detail?page={{ data.total_pages }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}">
                                        {{ data.total_pages }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}

                        <!-- the last two pagination -->
                        {% if data.page < data.total_pages %}
                            <li>
                                <a href="/stock/history_data_detail?page={{ data.page|add:"1" }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}" aria-label="下一页">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                        {% elif data.page == data.total_pages %}
                            <li>
                                <a href="/stock/history_data_detail?page={{ data.total_pages }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}" aria-label="下一页">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="/stock/history_data_detail?page={{ data.total_pages }}&code={{ data.code }}&start={{ data.start }}&end={{ data.end }}" aria-label="末页">
                                <span aria-hidden="true">&gg;</span>
                            </a>
                        </li>
                        <!-- the last two pagination end -->
                    </ul>
                </nav>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block jsfile %}
    <script type="text/javascript" src="/static/vender/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var s = "{{ data.start }}";
            var e = "{{ data.end }}";

            $("#start_time").datepicker("update", new Date(s.replace(/-/g, " ") + " 08:00:00"));
            $("#end_time").datepicker("update", new Date(e.replace(/-/g, " ") + " 08:00:00"));
        }
    </script>
{% endblock %}

{% block load_js_file %}
    <script src="/static/build/js/data/history_detail.js"></script>
{% endblock %}